html, body {
  height: 100%;
}

* {
  margin: 0 auto;
  padding: 0;
}

.cont {

  width: 1600px;
  height:auto;
  background: darkgray;
  .head{
    height:100px;
    background: gainsboro;
  }

  .upperMenu{
    height: 51px;
    background: grey;
  }
  .promo{
    height: 614px;
    background: #7e7e7e;
  }
  .spacer1{
    height: 98px;
    background: gainsboro;
  }
  .categories{
    height: 823px;
    background: grey;
    width: 1141px;
  }
  .spacer2{
    height: 211px;
    background: ghostwhite;
  }
  .catalog{
    height: 767px;
    background: grey;

  }
  .spacer3{
    height: 219px;
    background: #7e7e7e;
  }
  .promo2{
    height: 529px;
    width: 1140px;
    background: gainsboro;
  }
  .spacer4{
    height: 97px;
    background: ghostwhite;
  }
  .subscribe{
    height: 438px;
    background: grey;
  }
  .spacer5{
    height: 109px;
    background: ghostwhite;
  }
  .footerMenu{
    height: 349px;
    background: grey;
  }
  .copyright{
    height: 79px;
    background: gainsboro;
  }
}